body {
  margin: 1em;
  width: 100%;
  font-family: "Kanit", sans-serif;
}
main {
  background-color: rgb(70, 69, 69);
  margin: 1em;
}
div {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  padding: 15px;
  border-radius: 3%;
}
section {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
}
.post-itY {
  background-color: #fdfd96;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  transform: rotate(8deg);
}
.post-itG {
  background-color: #99fd96;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  transform: rotate(5deg);
}
.post-itB {
  background-color: #96a2fd;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  transform: rotate(-8deg);
}
p {
  font-size: 2em;
  color: rgb(27, 27, 27);
  font-weight: bold;
}
.post-itY:hover {
  background-color: #fdfd96;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.6);
  transform: rotate(0deg);
  transform: scale(1.2);
}
.post-itG:hover {
  background-color: #99fd96;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.6);
  transform: rotate(0deg);
  transform: scale(1.2);
}
.post-itB:hover {
  background-color: #96a2fd;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.6);
  transform: rotate(0deg);
  transform: scale(1.2);
}
